@model WebCoffee.Models.ItemCreate
@{
    ViewBag.Title = "新增商品";
}
@*匯入驗證所需的JavaScript*@
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
<head>
    <meta charset="UTF-8">
    <title>BabkaCoffee</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Babka Cofee</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />



    <!-- Open Graph (OG) meta tags are snippets of code that control how URLs are displayed when shared on social media  -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Furns - Responsive eCommerce HTML Template" />
    <meta property="og:url" content="PAGE_URL" />
    <meta property="og:site_name" content="Furns - Responsive eCommerce HTML Template" />
    <!-- For the og:image content, replace the # with a link of an image -->
    <meta property="og:image" content="#" />
    <meta property="og:description" content="Furns - Responsive eCommerce HTML Template" />
    <meta name="robots" content="noindex, follow" />
    <!-- Add site Favicon -->
    <link rel="icon" href="~/HTML/assets/images/favicon/favicon.png" sizes="32x32" />
    <link rel="icon" href="~/HTML/assets/images/favicon/favicon.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="~/HTML/assets/images/favicon/favicon.png" />
    <meta name="msapplication-TileImage" content="~/HTML/assets/images/favicon/favicon.png" />
    <!-- Structured Data  -->
    @*<script type="application/ld+json">
            {
                "name": "Replace_with_your_site_title",
                "url": "Replace_with_your_site_URL"
            }
        </script>*@
    <link rel="stylesheet" href="~/HTML/assets/css/vendor/vendor.min.css" />
    <link rel="stylesheet" href="~/HTML/assets/css/plugins/plugins.min.css" />
    <link rel="stylesheet" href="~/HTML/assets/css/style.min.css">

</head>


<div class="login-register-area pt-100px pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                <div class="login-register-wrapper">
                    <div class="login-register-tab-list nav">
                        <a class="active" data-bs-toggle="tab" href="#lg1">
                            <h4>新增商品</h4>
                        </a>

                    </div>
                    <div class="tab-content">
                        <div id="lg1" class="tab-pane active">
                            <div class="login-form-container">
                                <div class="login-register-form">
                                    <div class="form-horizontal">
                                        @*建立新增商品所須的表單 Item是controller Add是Action*@
                                        @using (Html.BeginForm("Add", "Item", FormMethod.Post
                                            , new { enctype = "multipart/form-data" }))
                                        {
                                            @*顯示彙總的表單驗證的錯誤訊息*@

                                            @Html.ValidationSummary()

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.NewData.Name, new { @class = "col-xs-4 col-md-1 form-label" })
                                                <div class="col-xs-8 col-md-11">
                                                    @Html.TextBoxFor(model => model.NewData.Name, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.NewData.Name, null, new { @class = "label label-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.NewData.Price, new { @class = "col-xs-4 col-md-1 form-label" })
                                                <div class="col-xs-8 col-md-11">
                                                    @Html.TextBoxFor(model => model.NewData.Price, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.NewData.Price, null, new { @class = "label label-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.ItemImage, new { @class = "col-xs-4 col-md-2 form-label" })
                                                <div class="col-xs-8 col-md-11">
                                                    @Html.TextBoxFor(model => model.ItemImage, new { @class = "form-control", type = "file" })
                                                    @Html.ValidationMessageFor(model => model.ItemImage, null, new { @class = "label label-danger" })
                                                </div>

                                            </div>

                                            <div class="form-group">
                                                商品類別
                                                @*@Html.DropDownListFor(model => model.GenreId, new SelectList(ViewBag.getgenrelist, "GenreId", "Name"),new { @class = "form-control" }*@
                                                <div class="col-xs-8 col-md-11">
                                                    @*資料來自ViewBagGenreId 這裡model只讀取GenreId資料*@
                                                    @Html.DropDownListFor(model => model.NewData.GenreId, (SelectList)ViewBag.GenreId, new { @class = "form-control" })
                                                </div>

                                                </div>
                                               <br>

                                                <div class="form-group">
                                                    <div class="col-md-offset-1 col-md-10">
                                                        <input class="btn btn-primary" type="submit" value="新增商品" />
                                                    </div>

                                                </div>


                                                <div>
                                                    @Html.ActionLink("商品頁面", "Index")
                                                </div>
                                                }
                                            </div>

                                        </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>