@model WebCoffee.Controllers.ShoppingViewController.ViewGenerId

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/test.cshtml";
}

<!-- breadcrumb-area start -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row breadcrumb_box  align-items-center">
                    <div class="col-lg-6 col-md-6 col-sm-12 text-center text-md-left">
                        <h2 class="breadcrumb-title">Shop</h2>
                    </div>
                    <div class="col-lg-6  col-md-6 col-sm-12">
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list text-center text-md-right">
                            <li class="breadcrumb-item"><a href="~/Home/Index">Home</a></li>
                            <li class="breadcrumb-item active">SHOP</li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="shop-category-area pb-100px pt-70px">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 order-lg-last col-md-12 order-md-first">
                <div class="shop-bottom-area">
                    <div class="row">
                        <div class="shop-top-bar d-flex">

                            <!-- Right Side Start -->
                            <div class="select-shoing-wrap d-flex align-items-center">
                                <nav class="navbar navbar-expand-md navbar-light ">
                                    <span class="h3 mx-1">Menu</span>
                                </nav>

                            </div>
                            <!-- Right Side End -->
                        </div>

                        @foreach (var item in Model.items)

                        {
                            <div class="col-lg-4  col-md-6 col-sm-6 col-xs-6">
                                <div class="product mb-5">
                                    <div class="thumb">
                                        <img src="@Html.Encode(Url.Content("~/Upload/" + item.Image))" style="max-width:350px; max-height:350px" />


                                        <button type="button" class="add-to-cart" onclick="location.href='@Url.Action("AddInCart","ShoppingCart",new {Item_id=item.Id})'">Add to Cart</button>


                                    </div>
                                    <div class="contact">
                                        <h5 class="title">
                                            <a>$ @(item.Name)</a>
                                        </h5>
                                        <span class="price">$ @(item.Price)</span>
                                    </div>
                                </div>

                            </div>

                        }

                        <div>
                            @*若無登入狀態，無法使用此功能*@
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <text> 要使用購物車請先 </text>
                                @Html.ActionLink("登入", "Login", "Members")

                            }
                        </div>
                        <div class="pro-pagination-style text-center mb-md-30px mb-lm-30px mt-6" data-aos="fade-up">
                            <ul class="pagination">
                                @*顯示上一頁與最前頁按鈕*@
                                <li class="first @((Model.Paging.NowPage > 1) ? "" : " disabled")">
                                    @Ajax.ActionLink("<<", "Index", new { Page = 1 }, new AjaxOptions { UpdateTargetId = "Index", InsertionMode = InsertionMode.Replace })
                                </li>

                                <li class="pervious @((Model.Paging.NowPage > 1) ? "" : " disabled")">
                                    @Ajax.ActionLink("<", "Index", new { Page = Model.Paging.NowPage - 1 }, new AjaxOptions { UpdateTargetId = "Index", InsertionMode = InsertionMode.Replace })
                                </li>
                                @for (var page = (Model.Paging.NowPage - 10); page < (Model.Paging.NowPage + 10); page++)
                                {
                                    if ((page > 0) && (page <= Model.Paging.MaxPage))
                                    {
                                        if (page == Model.Paging.NowPage)
                                        {
                                            <li class="active">
                                                <a href="#">@page</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                @Html.ActionLink(page.ToString(), "Browse", new { genreid = Model.genreid, Page = page })
                                               </li>

                                            @*<li>
                                                @Ajax.ActionLink(page.ToString(), "Index", new { genreid = Model.genreid,Page = page }, new AjaxOptions { UpdateTargetId = "Index", InsertionMode = InsertionMode.Replace })
                                            </li>*@

                                        }
                                    }

                                }
                                @*顯示下一頁與最後一頁的按鈕*@
                                <li class="next @(((Model.Paging.NowPage < Model.Paging.MaxPage)? "" : " disabled"))">
                                    @Ajax.ActionLink(">", "Index", new { Page = Model.Paging.NowPage + 1 }, new AjaxOptions { UpdateTargetId = "Index", InsertionMode = InsertionMode.Replace })
                                </li>
                                <li class="last @(((Model.Paging.NowPage < Model.Paging.MaxPage)? "" : " disabled"))">
                                    @Ajax.ActionLink(">>", "Index", new { Page = Model.Paging.MaxPage }, new AjaxOptions { UpdateTargetId = "Index", InsertionMode = InsertionMode.Replace })
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Sidebar Area Start -->
            <div class="col-lg-3 order-lg-first col-md-12 order-md-last mb-md-60px mb-lm-60px">
                <div class="shop-sidebar-wrap">
                    <!-- Sidebar single item -->
                    <div class="sidebar-widget">
                        <div class="main-heading">
                            <h3 class="sidebar-title">Category</h3>
                        </div>
                        <div class="sidebar-widget-category">
                            <ul>
                                <li>@Html.ActionLink("ALL", "Index", "ShoppingView")</li>
                                <li>@Html.ActionLink("單品", "Browse", "ShoppingView", new { genreid = 1 }, null)</li>
                                <li>@Html.ActionLink("綜合豆", "Browse", "ShoppingView", new { genreid = 2 }, null)</li>
                                <li>@Html.ActionLink("掛耳包", "Browse", "ShoppingView", new { genreid = 3 }, null)</li>


                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>